@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
}



body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    background: var(--gradients-bg-2, linear-gradient(122deg, #ece3ec 10.89%, #D9DFC9 90.9%));
    background-attachment: fixed;

    font-family: arial, helvetica, sans-serif;

    flex-direction: column;
    min-height: 100vh;
    display: flex;
    

   /*   background-image: linear-gradient(to top,white,#48B6F4);*/
/* background: var(--gradients-bg-1, linear-gradient(122deg, #FFFEFE 10.89%, #48B6F4 90.9%));*


} background-color: #48B6F4;
body#q1{

/*background-position:  center center ;*/

& .bola {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    background-color:green;
    box-shadow: inset -1rem -1rem 2rem rgba(0, 0, 0, 0.4),
      0.5rem 2.5rem 1rem -1rem rgba(0, 0, 0, 0.2);
    animation: 3s linear infinite alternate running bounce;
  }

}

@keyframes bounce {
  0% {
    transform: translate(0%, 0%);
  }

  25% {
    transform: translate(200%, -100%);
  }

  50% {
    transform: translate(400%, 0%);
  }

  75% {
    transform: translate(600%, -100%);
  }

  100% {
    transform: translate(800%, 0);
  }


  0%,
  50%,
  100% {
    box-shadow: inset -1rem -1rem 2rem rgba(0, 0, 0, 0.4),
      0.5rem 2.5rem 1rem -1rem rgba(0, 0, 0, 0.2);
  }

  25%,
  75% {
    box-shadow: inset -1rem -1rem 2rem rgba(0, 0, 0, 0.4),
      0.5rem 12.5rem 1rem -1rem rgba(0, 0, 0, 0.2);
  }
}


}


/* Estilo para o botão fixo no canto inferior direito */
.botao {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999; /* Para garantir que esteja acima de outros elementos */
}

.botao img {
    width: 48px; /* Mesma largura do botão */
    height: 48px; /* Mesma altura do botão */
    border-radius: 30%; /* Para manter o formato arredondado */
}

.tooltip {
    position: absolute;
    bottom: 80px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}

.botao:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.botao:hover {
    background-color: #06c98e;
}

header {
    display: flex;
    justify-content: center;
    color: #000;
    height: 150px;
    

    

}




.logo {
    font-family: Poppins;
    

    
    

    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 86%;
    /* 17.2px */
    letter-spacing: 2.6px;
    width: 129px;
    height: 42px;
    margin-right: 5%
    
    
}

.logotipo{
    
    display: flex;
    justify-content: center;
    flex-direction: line;
    
    
    
    
}

.logotipo img{
width: 100px;
height: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #555845;
    font-size: 25px;
}

span {
    font-size: 22px;
    font-weight: 600;
}

#home {
    height: 90vh; /* Mantém a seção com 90% da altura da viewport */
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.about {
    width: 55%;
    text-align: center; /* Garante que o conteúdo dentro da div esteja centralizado */
}

.about p {
    font-size: 15px;
    margin-top: 10px; /* Pequeno ajuste para evitar deslocamento */
}

.about h1 {
    font-size: 30px;
    text-align: left;
}

*/
.image {
    width: 35%;
    float: right;
    margin-right: 10%;
    padding: 0;
    border-radius: 15px;
    
}
.image img {
    display: flex;
    height: 94.7vh;
}

section {
    margin-bottom: 40px;
}

h1 {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#figura{


 width: 400px;
    height: 500px;

    
}
.section{

height: 800px;

}

.section h1{
    text-align: center;
}

#container{

    display: flex;
    flex-direction: line;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;

}
#container img{

    border-radius: 15px;
}



.card{

    width: 24%;
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 8 4px 8px #000;
    border-radius: 8px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

footer { 
    color:white;
    background-color:  black;
    height: 70px;
    text-align: center;
    padding: 10px;
}



#servicos h1{
    color: rgb(0, 0, 0);
}

.direita{
    text-align: right;
    color: rgb(0, 0, 0);
}

#agendamentos{
    height: 1100px;
}

#agendamentos h1{
    text-align: center;
    font-size: 30px;
}

#agendamentos_1 h1{
    font-size: 28px;
}

#agendamentos label{
    font-size: 20px;
    margin-top: 5px;
    color: #000000;
}

#servicos{
    background-color: #312b2e;         
    color: #aeaeae; 
    padding: 40px;
    border-radius: 0px;

    border-top: 5px solid #ece3ec;   
    border-bottom: 5px solid #ece3ec;
}

#servicos h1 {
    text-align: center;
    color: #fff;
    font-size: 28px;
}

#servicos h3 {
    margin-bottom: 5px;
    color: #fff; 
}

#servicos p {
    font-size: 10px;
    margin-top: 5px;
    color: #fff;
}

#pag-agendamentos p{
    text-align: center;
}
form{

    background-color: #fff;
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
}

input,select,textarea{

    width: 100%;
    padding: 0.3em;
    box-sizing: border-box;
    font-weight: 300;
    border-radius: 10px;
    border: 1px solid #c4c4c4;
    margin: 5px  0 20px 0;
    font: 1.4rem 'Poppins', sans-serif;
}
input[type="submit"],input[type="reset"] {
    background-color: #8bc34a;
    border-radius: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="reset"] {
    padding: 10px 20px;
    background-color: #f47e7e;
    cursor: pointer;
}

.login h1 {
    text-align: left;
}

.login form{
    display: flex;
    flex-direction: column;  
}

.login input{

    margin-top: 10px;
    border-radius: 4px;

    height: 40px;
    outline: none;
    padding-left: 10px;
}

#form2{
    height: 500px;
}

#m2{
    height: 900px;
}

#contatos {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--gradients-bg-1, linear-gradient(122deg, #ACC5A1 10.89%, #F3E778 90.9%));
    background-repeat: no-repeat;
}

.contato label{
    font-size: 20px;
    margin-top: 5px;
    color: #000000;
}

#funcionarios {
    height: 70vh;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    align-items: center;
    background: var(122deg, #ece3ec 10.89%, #D9DFC9 90.9%);
    background-repeat: no-repeat;
}

#funcionarios h1 {
    font-size: 28px;
}

#funcionarios p {
    font-size: 20px;
    margin-top: 5px;
    color: #000000;
}
.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .300);
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 1s;
}

.slide img{
    width: 800px;

}

.manual-navigation{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}


.manual-btn:hover{
    background-color: #fff;
 
}


#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

#radio4:checked ~ .first{
    margin-left: -75%;
}

.navigation-auto div{
    border: 2px solid #fff;
    padding: 5px;
    border-radius:10px;
    cursor: pointer;
    transition: 1s;

}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}


.navigation-auto div:not(:last-child){
    margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #fff;
 


}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #fff;


}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #fff;


}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #fff;
    

}

main{
    font-size: 0.7em;
    height: 200px;
    flex: 1;
    }
    .eventos__item {
    background-color: var(--cinza-claro);
    width: 307px;
    padding-bottom: 1rem;
    height: 318px;
    
}
.eventos{
    background-color: #312b2e;
    width: 100%;
    color: white; 
    
    
}
.eventos__item{
    border-radius: 50%;
    text-align:center ;
    color: yellow;
    
}


    

@media screen and (max-width: 390px){

nav,main,aside{
    width:100%;
}
nav{
    width: 100%;

    height: 60px;
}
ul{
    display: flex;
    justify-content: space-between;
}
main{
font-size: 0.7em;
height: 200px;
flex: 1;
}
aside{
    width: 100%;

height: 200px;
display: flex;
font-size: 1.2em;
}

nav{
    display: flex;
  font-size: 10px;

}
nav a{

    
    margin-left: 1px;
    margin-right: 3px;
}
#figura{
    

    
    
    text-align: left;

             position: absolute;
top: 50%;
left: 50%;
transform: translateY(-50%) translateX(-50%)

         

        }

        #home{

            height: 500px;
        }


.card-content{
    display: flex;
}
#container{

    display: flex;
    flex-direction: column;
}
}